.fullWidth_header{
	background:$backgroundHeader;
	width:100%;
	@include noPadding;
	padding: 5px 0px 10px;
}
.logo {
    font-size: 33px;
    text-transform: $textTransform;
    color: $colorLogo;
    position: relative;
    top: 2px;
    font-family: $fontFamilyLogo;
}
.navbar{
  	position: relative;
    min-height: 0px;
    margin-bottom: 0px; 
	ul{
		list-style: none;
		position: relative;
    	top: 5px;
		li{
			display: inline-block;
			a{
				text-decoration: none;
				color: $colorNav;
				margin-right: 17px;
				display: block;
				&:hover{
					@extend %linkMenu;
				}
			}
		}
	}
}
.navbar-custom {
    background-color: #09142f;
    border-color: #09142f;
    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	    content: "\f0c9";
	    color: #fff;
	}
	.navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	  background-color: rgb(9, 20, 47)!important;
	}
}
.navbar-default .navbar-nav > li > a {
	color: #fff!important;
}

//slider page
.fullSlider{
    width: 100%;
    @include noPadding;
	img{
		width: 100%;
		@include noPadding;
		@include heightSlider;
	}
}
//promo product
.promo_catalog{
	h3{
		font-size: 14px;
		margin-top:10px;
		font-weight: bold;
    	text-transform: uppercase;	
    	margin-left: 16px;
	}
}
//catalog
.promo_catalog {
    padding: 10px 0px 10px;
    margin-bottom: 15px;
}
//footer
.fullFooter{
	background: $footerBg;
	padding: 15px 5px 15px;
	.footer-item{
		h4{
			margin-top: 0px;
			font-size: 14px;
			font-weight: bold;
		}
		a.btn-link {
		    text-decoration: none;
		    color: #de4c01;
		    border-radius: 5px;
		    border: 1px solid #de4c01;
		    padding: 3px 5px 3px;
		    position: relative;
		    top: 3px;
		}
		ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
			li{
			   padding: 5px 0px;
				a{
					text-decoration: none;
					color:#000;
				}
			}
		}
		li.item-sosmed {
		    height: 32px;
		    width: 32px;
		    border: 1px solid #041d58;
		    margin-bottom: 10px;
		    text-align: center;
		    display: inline-block;
		    @include borderRadius(5px);
		    background: #001235;
    		color: #fff;
		}
	}
	.footer-copy{
		@extend %footerCopy;
	}
}

//catalog
.catalog-column{
	@include catalogColumn;
	img{
		width: 100%;
		height: 400px;
	}
}
//detail
.detail_product{
	padding: 10px 0px 10px;
	margin: 3% 7px 3%;
	@include productDetailItem;
}
//icon slider
.fa-chevron-circle-right,
.fa-chevron-circle-left {
    position: relative;
    top: 18em;
}

.fa-chevron-circle-left:before {
    content: "\f137";
    color: #da0834;
}

.fa-chevron-circle-right:before {
    content: "\f138";
    color: #da0834;
}