$backgroundHeader : #09142f;
$colorNav : #e0aa05;
$footerBg: #bbb;
$borderRadiusCart: 5px;
$widthImage : 100%;
$fontweight: bold;
$colorDetail: #bf0f1d;
$display: block;
$align: center;
$textTransform: uppercase;
$backgroundButton: #da0834;
$textDecoration: none;
$colorLogo: #ffc30b;
$fontFamilyLogo: cursive;
$fullWidth: 100%;